<head>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"
  />
  <link
    rel="stylesheet"
    href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
    integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX"
    crossorigin="anonymous"
  />
</head>
<div class="modal-dialog">
  <div style="border-radius: 2%" class="modal-content">
    <div class="flex justify-items-center">
      <img
        style="border-radius: 2%"
        src="../../assets/voucher.jpg"
        style="width: 500px; height: 300px"
        alt=""
      />
      <button
        type="button"
        class="close close-button"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span style="color: black" aria-hidden="true">&times;</span>
      </button>
      <h3 style="margin-top: 10%; margin-left: 15%" class="firstText">
      </h3>
    </div>
    <h3 style="margin-top: 2%">Bis zu 2 Freistelluagstage</h3>

    <div style="margin-top: 5%" class="flex-container">
      <div style="margin-left: 5%">
        <label for="exampleFormControlSelect1">Arbeitstage</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        <label for="exampleFormControlSelect1">Freistellungstage</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="list-group" style="margin-left: 5%">
        <h6 class="text-center text-muted">Benefits vs. Cost</h6>
        <a class="list-group-item list-group-item-action" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <span>
              <img src="../../assets/3.jpg" class="img-fluid" alt="quixote" />
              <button
                type="button"
                class="btn btn-default dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i style="margin-right: -3px" class="fa fa-fw fa-list"></i>
                <span class="caret"></span>
              </button>
            </span>
            <div class="flex flex-row">
              <div>
                <h6 style="width: 145px" class="mb-1">
                  Voucher Product I
                  <p><small></small></p>
                </h6>
              </div>
              <div style="margin-top: -30px; margin-left: 12%">
                <div class="flex flex-col">
                  <div>
                    <a class="btn btn-default" style="width: 145px">
                      <i
                        style="margin-right: -2%"
                        class="fa fa-shopping-cart"
                        aria-hidden="true"
                      ></i>
                      Add to cart</a
                    >
                  </div>

                  <div class="text-center">
                    <strong> $1299.99</strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>

        <a class="list-group-item list-group-item-action" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <span>
              <img
                src="../../assets/voucher.jpg"
                class="img-fluid"
                alt="quixote"
              />
              <button
                type="button"
                class="btn btn-default dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i style="margin-right: -3px" class="fa fa-fw fa-list"></i>
                <span class="caret"></span>
              </button>
            </span>
            <div class="flex flex-row">
              <div>
                <h6 style="width: 145px" class="mb-1">
                  Voucher Product II
                  <p><small></small></p>
                </h6>
              </div>
              <div style="margin-top: -30px; margin-left: 12%">
                <div class="flex flex-col">
                  <div>
                    <a class="btn btn-default" style="width: 145px">
                      <i
                        style="margin-right: -2%"
                        class="fa fa-shopping-cart"
                        aria-hidden="true"
                      ></i>
                      Add to cart</a
                    >
                  </div>

                  <div class="text-center">
                    <strong> $499.99</strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
        <a class="list-group-item list-group-item-action" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <span>
              <img src="../../assets/3.jpg" class="img-fluid" alt="quixote" />
              <button
                type="button"
                class="btn btn-default dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i style="margin-right: -3px" class="fa fa-fw fa-list"></i>
                <span class="caret"></span>
              </button>
            </span>
            <div class="flex flex-row">
              <div>
                <h6 style="width: 145px" class="mb-1">
                  Voucher Product III
                  <p><small></small></p>
                </h6>
              </div>
              <div style="margin-top: -30px; margin-left: 12%">
                <div class="flex flex-col">
                  <div>
                    <a class="btn btn-default" style="width: 145px">
                      <i
                        style="margin-right: -2%"
                        class="fa fa-shopping-cart"
                        aria-hidden="true"
                      ></i>
                      Add to cart</a
                    >
                  </div>

                  <div class="text-center">
                    <strong> $199.99</strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div
      style="margin-top: 4%; margin-bottom: 4%"
      class="flex-container"
      id="footerButton"
    >
      <div>
        <button
          style="margin-left: 25px; width: 135px; height: 45px"
          type="button"
          class="btn btn-outline-warning"
        >
          Zuruch
        </button>
      </div>
      <div style="width: 35%"></div>
      <div>
        <div>
          <button
            style="width: 135px; height: 45px"
            type="button"
            class="btn btn-outline-warning"
          >
            Auswahlen
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
