<head>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"
  />
  <link
    rel="stylesheet"
    href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
    integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX"
    crossorigin="anonymous"
  />
</head>

<div class="modal-dialog">
  <div style="border-radius: 2%" class="modal-content">
    <div class="flex justify-items-center">
      <img
        style="border-radius: 2%"
        src="../../assets/voucher.jpg"
        style="width: 500px; height: 300px"
        alt=""
      />
      <button
        type="button"
        class="close close-button"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span style="color: black" aria-hidden="true">&times;</span>
      </button>
      <h3 style="margin-top: 10%; margin-left: 15%" class="firstText">
        Voucher <br />
        Products
      </h3>
    </div>
    <h3 style="margin-top: 2%">Du erhalst ein Benefitbudget</h3>

    <div style="margin-top: 5%" class="flex-container">
      <!-- <div style="margin-left: 5%">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="flexRadioDefault2"
            checked
          />
          <label class="form-check-label" for="flexRadioDefault2">
            Budget: 300 &euro; Gesundheits-budget
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="flexRadioDefault2"
            checked
          />
          <label class="form-check-label" for="flexRadioDefault2">
            Budget: 600 &euro; Gesundheits-budget
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="flexRadioDefault2"
            checked
          />
          <label class="form-check-label" for="flexRadioDefault2">
            Budget: 900 &euro; Gesundheits-budget(empfohlen)
          </label>
        </div>
      </div> -->

      <div style="margin-left: 2%">
        <div class="container">
          <h6 class="text-center text-muted">Benefits vs. Cost</h6>
          <ul class="list-group">
            <li class="list-group-item clearfix">
              <img
                style="width: 50px; height: 50px"
                class="img-responsive img-rounded"
                src="../../assets/3.jpg"
                alt=""
              />
              <h6 class="list-group-item-heading">Voucher Product I</h6>
              <div class="btn-toolbar pull-right" role="toolbar" aria-label="">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <i class="fa fa-fw fa-list"></i> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Add to new list</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">A list</a></li>
                    <li><a href="#">Another list</a></li>
                    <li><a href="#">Third list</a></li>
                  </ul>
                </div>
                <a class="btn btn-default">
                  <i
                    style="margin-right: -2%"
                    class="fa fa-shopping-cart"
                    aria-hidden="true"
                  ></i>
                  Add to cart</a
                >
                <a class="btn btn-primary">$142.50</a>
              </div>
            </li>
            <li class="list-group-item clearfix">
              <img
                style="width: 50px; height: 50px"
                class="img-responsive img-rounded"
                src="../../assets/voucher.jpg"
                alt=""
              />
              <h6 class="list-group-item-heading">Voucher Product II</h6>
              <div class="btn-toolbar pull-right" role="toolbar" aria-label="">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <i class="fa fa-fw fa-list"></i> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Add to new list</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">A list</a></li>
                    <li><a href="#">Another list</a></li>
                    <li><a href="#">Third list</a></li>
                  </ul>
                </div>
                <a class="btn btn-default">
                  <i
                    style="margin-right: -2%"
                    class="fa fa-shopping-cart"
                    aria-hidden="true"
                  ></i>
                  Add to cart</a
                >
                <a class="btn btn-primary">$42.50</a>
              </div>
            </li>
            <li class="list-group-item clearfix">
              <img
                style="width: 50px; height: 50px"
                class="img-responsive img-rounded"
                src="../../assets/3.jpg"
                alt=""
              />
              <h6 class="list-group-item-heading">Voucher Product III</h6>
              <div class="btn-toolbar pull-right" role="toolbar" aria-label="">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <i class="fa fa-fw fa-list"></i> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Add to new list</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">A list</a></li>
                    <li><a href="#">Another list</a></li>
                    <li><a href="#">Third list</a></li>
                  </ul>
                </div>
                <a class="btn btn-default">
                  <i
                    style="margin-right: -2%"
                    class="fa fa-shopping-cart"
                    aria-hidden="true"
                  ></i>
                  Add to cart</a
                >
                <a class="btn btn-primary">$552.50</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div
      style="margin-top: 4%; margin-bottom: 2%"
      class="flex-container"
      id="footerButton"
    >
      <div>
        <button
          style="margin-left: 15px; width: 125px; height: 45px"
          type="button"
          class="btn btn-outline-warning"
        >
          Zuruch
        </button>
      </div>
      <div style="width: 35%"></div>
      <div>
        <div>
          <button
            style="width: 135px; height: 45px"
            type="button"
            class="btn btn-outline-warning"
          >
            Auswahlen
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
