<html class="bg-dark">
  <head> </head>
  <section style="margin-top: 5%" id="team">
    <div class="container justify-center">
      <div style="margin-bottom: 10%" class="text-center">
        <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
        <h3 class="section-subheading text-muted">
          Lorem ipsum dolor sit amet consectetur.
        </h3>
      </div>
      <div style="margin-left: 7%" class="row">
        <div class="col-lg-4">
          <div class="team-member">
            <img
              style="width: 225px; height: 225px"
              class="mx-auto rounded-circle"
              src="../../assets/user1.jpeg"
              alt="..."
            />
            <div style="margin-left: 10%; margin-top: 5%">
              <h4>Stuart Garland</h4>
              <p class="text-muted">Lead Designer</p>
            </div>
            <a class="btn btn-dark btn-social mx-2">
              <i class="fab fa-2x fa-twitter"></i
            ></a>
            <a class="btn btn-dark btn-social mx-2"
              ><i class="fab fa-2x fa-facebook-f"></i
            ></a>
            <a class="btn btn-dark btn-social mx-2"
              ><i class="fab fa-2x fa-linkedin-in"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="team-member">
            <img
              style="width: 225px; height: 225px"
              class="mx-auto rounded-circle"
              src="../../assets/user2.jpeg"
              alt="..."
            />
            <div style="margin-left: 10%; margin-top: 5%">
              <h4>Larry Parker</h4>
              <p class="text-muted">Lead Marketer</p>
            </div>

            <a class="btn btn-dark btn-social mx-2"
              ><i class="fab fa-2x fa-twitter"></i
            ></a>
            <a class="btn btn-dark btn-social mx-2"
              ><i class="fab fa-2x fa-facebook-f"></i
            ></a>
            <a class="btn btn-dark btn-social mx-2"
              ><i class="fab fa-2x fa-linkedin-in"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="team-member">
            <img
              style="width: 225px; height: 225px"
              class="mx-auto rounded-circle"
              src="../../assets/user3.jpeg"
              alt="..."
            />
            <div style="margin-left: 10%; margin-top: 5%">
              <h4>Diana Petersen</h4>
              <p class="text-muted">Lead Developer</p>
            </div>

            <a class="btn btn-dark btn-social mx-2"
              ><i class="fab fa-2x fa-twitter"></i
            ></a>
            <a class="btn btn-dark btn-social mx-2"
              ><i class="fab fa-2x fa-facebook-f"></i
            ></a>
            <a class="btn btn-dark btn-social mx-2"
              ><i class="fab fa-2x fa-linkedin-in"></i
            ></a>
          </div>
        </div>
      </div>
      <div style="margin-top: 5%" class="row">
        <div class="col-lg-8 mx-auto text-center">
          <p class="large text-muted">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque,
            laboriosam veritatis, quos non quis ad perspiciatis, totam corporis
            ea, alias ut unde.
          </p>
        </div>
      </div>
    </div>
  </section>
</html>
