html {
  margin-bottom: 10%;
  padding-bottom: 15%;
  padding-top: 1%;
  color: white;
}
section {
  height: 500px;
  margin-top: 5%;
}
img {
  padding: 0.25rem;
  background-color: darkgray;
  border: 2px solid grey;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}
p {
  color: white;
}
