<head>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"
  />
  <link
    rel="stylesheet"
    href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
    integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX"
    crossorigin="anonymous"
  />
</head>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="flex justify-items-center">
      <img
        src="../../assets/insurance.jpg"
        style="width: 500px; height: 300px"
        alt=""
      />
    </div>
    <h3 style="margin-top: 2%">Bis zu 2 Freistelluagstage</h3>

    <div style="margin-top: 5%" class="flex-container">
      <div style="margin-left: 10%">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="flexRadioDefault2"
            checked
          />
          <label class="form-check-label" for="flexRadioDefault2">
            Default checked radio
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="flexRadioDefault2"
            checked
          />
          <label class="form-check-label" for="flexRadioDefault2">
            Default checked radio
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="flexRadioDefault2"
            checked
          />
          <label class="form-check-label" for="flexRadioDefault2">
            Default checked radio
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="flexRadioDefault2"
            checked
          />
          <label class="form-check-label" for="flexRadioDefault2">
            Default checked radio
          </label>
        </div>
      </div>
      <div style="margin-left: 10%">
        <button
          style="background-color: green; color: white; border-radius: 2px"
          type="button"
          class="btn btn-success"
        >
          Product costs Vs benefit
        </button>
      </div>
    </div>

    <div style="margin-top: 4%" class="flex-container" id="footerButton">
      <div>
        <button type="button" class="btn">Zuruch</button>
      </div>
      <div>
        <button type="button" class="btn">Auschwitz</button>
      </div>
    </div>
  </div>
</div>
