<head>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"
  />
  <link
    rel="stylesheet"
    href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
    integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX"
    crossorigin="anonymous"
  />
</head>

<div class="modal-dialog">
  <div style="border-radius: 2%" class="modal-content">
    <div class="flex justify-items-center">
      <img
        style="border-radius: 2%"
        src="../../assets/insurance.jpg"
        style="width: 500px; height: 300px"
        alt=""
      />
      <button
        type="button"
        class="close close-button"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span style="color: black" aria-hidden="true">&times;</span>
      </button>
      <h3 style="margin-top: 10%; margin-left: 15%" class="firstText">
        Insurance <br />
        Products
      </h3>
    </div>
    <h3 style="margin-top: 2%">Du erhalst ein Benefitbudget</h3>

    <div style="margin-top: 5%" class="flex-container">
      <div style="margin-left: 1%">
        <div class="form-check" style="margin-bottom: 5%">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="flexRadioDefault2"
            checked
          />
          <label class="form-check-label" for="flexRadioDefault2">
            Budget: 300 &euro; <br />
            Gesundheits-budget
          </label>
        </div>
        <div class="form-check" style="margin-bottom: 5%">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="flexRadioDefault2"
            checked
          />
          <label class="form-check-label" for="flexRadioDefault2">
            Budget: 600 &euro; <br />Gesundheits-budget
          </label>
        </div>
        <div class="form-check" style="margin-bottom: 5%">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="flexRadioDefault2"
            checked
          />
          <label class="form-check-label" for="flexRadioDefault2">
            Budget: 900 &euro; <br />Gesundheits-budget(empfohlen)
          </label>
        </div>
      </div>

      <div
        class="list-group"
        style="margin-right: 10%; margin-top: -5%; margin-left: -10%"
      >
        <h6 class="text-center text-muted">Benefits vs. Cost</h6>
        <a class="list-group-item list-group-item-action" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <img
              src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/don_quixote.jpg"
              class="img-fluid"
              alt="quixote"
            />
            <h6 class="mb-1" style="margin-right: 25%">
              InsuranceI
              <p>
                <small>
                  <i
                    style="margin-right: -5%"
                    class="fa fa-calendar"
                    aria-hidden="true"
                  ></i>
                  1year
                </small>
              </p>
            </h6>
            <span class="badge badge-info badge-pill"> 20 &euro;</span>
          </div>
        </a>
        <a class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <img
              src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/as_I_lay.jpg"
            />
            <h6 style="margin-right: 25%" class="mb-1">
              InsuranceII
              <p>
                <small>
                  <i class="fa fa-calendar" aria-hidden="true"></i>

                  6months
                </small>
              </p>
            </h6>
            <span class="badge badge-info badge-pill"> 780 &euro;</span>
          </div>
        </a>
        <a class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <img
              src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/things_fall_apart.jpg"
              class="img-fluid"
              alt="quixote"
            />
            <h6 class="mb-1" style="margin-right: 25%">
              InsuranceIII
              <p>
                <small>
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  2years
                </small>
              </p>
            </h6>
            <span class="badge badge-info badge-pill"> 250 &euro;</span>
          </div>
        </a>
      </div>
    </div>

    <div
      style="margin-top: 4%; margin-bottom: 4%"
      class="flex-container"
      id="footerButton"
    >
      <div>
        <button
          style="margin-left: 25px; width: 135px; height: 45px"
          type="button"
          class="btn btn-outline-warning"
        >
          Zuruch
        </button>
      </div>
      <div style="width: 35%"></div>
      <div>
        <div>
          <button
            style="width: 135px; height: 45px"
            type="button"
            class="btn btn-outline-warning"
          >
            Auswahlen
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
