<head>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"
  />
  <link
    rel="stylesheet"
    href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
    integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX"
    crossorigin="anonymous"
  />
  <script src="https://use.fontawesome.com/5c79ad6f5c.js"></script>
</head>
<div class="modal-dialog">
  <div style="border-radius: 2%" class="modal-content">
    <div class="flex justify-items-center">
      <img
        style="border-radius: 2%"
        src="../../assets/vacation_days.jpg"
        style="width: 500px; height: 300px"
        alt=""
      />
      <button
        type="button"
        class="close close-button"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span style="color: black" aria-hidden="true">&times;</span>
      </button>
      <h3 style="margin-top: 10%; margin-left: 15%" class="firstText">
        Vacation Days
      </h3>
    </div>
    <h3 style="margin-top: 2%">Bis zu 2 Freistelluagstage</h3>

    <div style="margin-top: 5%" class="flex-container">
      <div style="margin-left: 5%">
        <label for="exampleFormControlSelect1">Arbeitstage</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        <label for="exampleFormControlSelect1">Freistellungstage</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="list-group" style="margin-left: 5%">
        <h6 class="text-center text-muted">Benefits vs. Cost</h6>
        <a class="list-group-item list-group-item-action" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <img
              src="../../assets/vacation/1.jpg"
              class="img-fluid"
              alt="quixote"
            />
            <h6 class="mb-1">
              Vacation I
              <p><small>Services</small></p>
              <div style="margin-top: -12%">
                <i class="fa fa-binoculars" aria-hidden="true"></i>
                <i
                  style="margin-left: -25%; margin-right: 2%"
                  class="fa fa-suitcase"
                  aria-hidden="true"
                ></i>
              </div>
            </h6>
            <div style="margin-left: -3%" class="flex flex-col">
              <div>
                <span class="badge badge-warning badge-pill">
                  <i
                    style="margin-right: -1%"
                    class="fa fa-clock"
                    aria-hidden="true"
                  ></i>
                  20 days</span
                >
              </div>
              <div style="margin-top: 2%">
                <i class="fa fa-plane" aria-hidden="true"></i>
                <i
                  style="margin-left: -22%"
                  class="fa fa-car"
                  aria-hidden="true"
                ></i>
                <i class="fa fa-ship" aria-hidden="true"></i>
              </div>
              <div>
                <small> 1200 &euro; </small>
              </div>
            </div>
          </div>
        </a>
        <a class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <img src="../../assets/vacation/2.png" />
            <h6 class="mb-1">
              Vacation II
              <p><small>Services</small></p>
              <div style="margin-top: -12%">
                <i class="fa fa-glass" aria-hidden="true"></i>
                <i
                  style="margin-left: -25%; margin-right: 2%"
                  class="fa fa-microphone"
                  aria-hidden="true"
                ></i>
              </div>
            </h6>
            <div style="margin-left: -3%" class="flex flex-col">
              <div>
                <span class="badge badge-primary badge-pill">
                  <i
                    style="margin-right: -1%"
                    class="fa fa-clock"
                    aria-hidden="true"
                  ></i>
                  12 days</span
                >
              </div>
              <div style="margin-top: 2%">
                <i class="fa fa-plane" aria-hidden="true"></i>
                <i
                  style="margin-left: -22%"
                  class="fa fa-train"
                  aria-hidden="true"
                ></i>
                <i class="fa fa-ship" aria-hidden="true"></i>
              </div>
              <div>
                <small> 700 &euro; </small>
              </div>
            </div>
          </div>
        </a>
        <a class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <img
              src="../../assets/vacation/3.jpg"
              class="img-fluid"
              alt="quixote"
            />
            <h6 class="mb-1">
              Vacation III
              <p><small>Packages</small></p>
              <div style="margin-top: -12%">
                <i class="fa fa-gift" aria-hidden="true"></i>
                <i
                  style="margin-left: -25%; margin-right: 2%"
                  class="fa fa-shower"
                  aria-hidden="true"
                ></i>
                <i class="fa fa-futbol-cake" aria-hidden="true"></i>
              </div>
            </h6>
            <div style="margin-left: -3%" class="flex flex-col">
              <div>
                <span class="badge badge-info badge-pill">
                  <i
                    style="margin-right: -1%"
                    class="fa fa-clock"
                    aria-hidden="true"
                  ></i>
                  3 days</span
                >
              </div>

              <div style="margin-top: 2%">
                <i class="fa fa-plane" aria-hidden="true"></i>
                <i
                  style="margin-left: -22%"
                  class="fa fa-car"
                  aria-hidden="true"
                ></i>
              </div>
              <div>
                <small> 1900 &euro; </small>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div
      style="margin-top: 4%; margin-bottom: 4%"
      class="flex-container"
      id="footerButton"
    >
      <div>
        <button
          style="margin-left: 25px; width: 135px; height: 45px"
          type="button"
          class="btn btn-outline-warning"
        >
          Zuruch
        </button>
      </div>
      <div style="width: 35%"></div>
      <div>
        <div>
          <button
            style="width: 135px; height: 45px"
            type="button"
            class="btn btn-outline-warning"
          >
            Auswahlen
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
