<head>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"
  />
  <link
    rel="stylesheet"
    href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
    integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX"
    crossorigin="anonymous"
  />
</head>
<div class="modal-dialog">
  <div style="border-radius: 2%" class="modal-content">
    <div class="flex justify-items-center">
      <img
        style="border-radius: 2%"
        src="../../assets/vacation_days.jpg"
        style="width: 500px; height: 300px"
        alt=""
      />
      <button
        type="button"
        class="close close-button"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span style="color: black" aria-hidden="true">&times;</span>
      </button>
      <h3 style="margin-top: 10%; margin-left: 15%" class="firstText">
        Vacation Days
      </h3>
    </div>
    <h3 style="margin-top: 2%">Bis zu 2 Freistelluagstage</h3>

    <div style="margin-top: 5%" class="flex-container">
      <div style="margin-left: 10%">
        <label for="exampleFormControlSelect1">Arbeitstage</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        <label for="exampleFormControlSelect1">Freistellungstage</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div style="margin-left: 5%">
        <button
          style="
            background-color: green;
            color: white;
            border-radius: 2px;
            width: 220px;
            height: 140px;
          "
          type="button"
          class="btn btn-success"
        >
          Product costs <br />
          Vs. <br />
          benefit
        </button>
      </div>
    </div>

    <div
      style="margin-top: 4%; margin-bottom: 4%"
      class="flex-container"
      id="footerButton"
    >
      <div>
        <button
          style="margin-left: 25px; width: 135px; height: 45px"
          type="button"
          class="btn btn-outline-warning"
        >
          Zuruch
        </button>
      </div>
      <div style="width: 35%"></div>
      <div>
        <div>
          <button
            style="width: 135px; height: 45px"
            type="button"
            class="btn btn-outline-warning"
          >
            Auswahlen
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
