<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="../../assets/1.jpg" alt="First slide" />
      <h3 style="margin-top: 10%; margin-left: 15%;" class="firstText">Bike Leasing</h3>
    </div>
    <div class="carousel-item">
      <h3 style="margin-top: 10%; margin-left: 15%;" class="firstText">Vacation Days</h3>
      <img class="d-block w-100" src="../../assets/3.jpg" alt="Second slide" />
    </div>
    <div class="carousel-item">
      <h3 style="margin-top: 10%; margin-left: 15%;" class="firstText">Voucher Products</h3>
      <img class="d-block w-100" src="../../assets/4.jpg" alt="Third slide" />
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleControls"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleControls"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

