<head>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons"
  />
  <link
    rel="stylesheet"
    href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
    integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX"
    crossorigin="anonymous"
  />
</head>

<div class="modal-dialog">
  <div style="border-radius: 2%" class="modal-content">
    <div class="flex justify-items-center">
      <img
        style="border-radius: 2%"
        src="../../assets/bike_leasing.jpg"
        style="width: 500px; height: 300px"
        alt=""
      />
      <button
        type="button"
        class="close close-button"
        data-dismiss="modal"
        aria-label="Close"
      >
        <span style="color: black" aria-hidden="true">&times;</span>
      </button>
      <h3 style="margin-top: 10%; margin-left: 15%" class="firstText">
        Bike <br />
        Leasing
      </h3>
    </div>
    <h3 style="margin-top: 2%">Du erhalst ein Benefitbudget</h3>

    <div style="margin-top: 5%" class="flex-container">
      <div style="margin-left: 5%">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="flexRadioDefault2"
            checked
          />
          <label class="form-check-label" for="flexRadioDefault2">
            Budget: 300 &euro; Gesundheits-budget
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="flexRadioDefault2"
            checked
          />
          <label class="form-check-label" for="flexRadioDefault2">
            Budget: 600 &euro; Gesundheits-budget
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="flexRadioDefault"
            id="flexRadioDefault2"
            checked
          />
          <label class="form-check-label" for="flexRadioDefault2">
            Budget: 900 &euro; Gesundheits-budget(empfohlen)
          </label>
        </div>
      </div>

      <div style="margin-left: 2%">
        <button
          style="
            background-color: green;
            color: white;
            border-radius: 2px;
            width: 200px;
            height: 140px;
          "
          type="button"
          class="btn btn-success"
        >
          Product costs <br />
          Vs. <br />
          benefit
        </button>
      </div>
    </div>

    <div
      style="margin-top: 4%; margin-bottom: 2%"
      class="flex-container"
      id="footerButton"
    >
      <div>
        <button
          style="margin-left: 15px; width: 125px; height: 45px"
          type="button"
          class="btn btn-outline-warning"
        >
          Zuruch
        </button>
      </div>
      <div style="width: 35%"></div>
      <div>
        <div>
          <button
            style="width: 135px; height: 45px"
            type="button"
            class="btn btn-outline-warning"
          >
            Auschwitz
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
